.modalCall-overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.dialog {
    border-radius: 12px;
}

.modalCall-frame {
    
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    width: 288px;
    height: 400px;
    flex-direction: column;
}
.button{
    background-color: transparent;
    border-radius: 8;
    padding: 0.5rem;
}
.button:hover{
color: black;
}
.modalCall-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.button-close {
    border-color: #d1d5db;
    border-radius: 0.75rem;
    /* rounded-xl */
}

.button-closeSvg {
    height: 1.5rem;
    width: 1.5rem;
}

.container-svg {
    height: 1.25rem;
    width: 1.25rem;
}

.border-red-500 {
    border-color: #ef4444;
}

.modalCall-title {
    font-size: 1.125rem;
    font-weight: 700;
}

/* .modalCall-largeContainer {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d5db;
    padding-bottom: 0.5rem;
    width: 100%;

} */

.modalCall-containerMiddle {
    display: flex;
    flex-direction: column;
}

.modalCall-containerSmall {
    display: flex;
    margin-top: 28px;
}

.modalCall-text {
    margin:0.5rem;
    line-height: 1;
    font-size: 0.75rem;
    text-align: center;
   
}