.modal-bg {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-frame {
  background-color: rgba(251, 244, 244, 0.967);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  width: 75%;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

}

.modal-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #9CA3AF;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 12;
}

.modal-button:hover {
  color: #111827;
  /* почти черный, hover:text-gray-900 */
}

.modal-button:focus {
  outline: none;
  /* исчезновение рамки при фокусе */
}

.svg {
  height: 1.5rem;
  width: 1.5rem;
}

.modal-container {
  display: flex;
  gap: 1rem;
}



.modal-address {
  font-size: medium;
  flex-shrink: 0;
  color: black;
}

.modal-img {
  flex-grow: 1;
  /* занимает всё оставшееся пространство */
  width: 0;
  /* чтобы flex-grow работал корректно */
  height: auto;
  /* сохраняет пропорции */
  object-fit: contain;
  /* или cover */
  display: block;
  /* убирает нижние отступы */
}