/* styles.module.css для Account */
.title {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600; /* font-semibold */
  margin-left: 1rem;
}

.linkContainer {
  display: flex;
  margin-top: 1.5rem; /* mt-6 */
  margin-left: 1rem;
}

.link {
  font-size: 1rem; /* text-base */
  color: inherit; /* Убедитесь, что цвет текста наследуется */
}

.link:hover {
  text-decoration: underline; /* hover:underline */
}

.text {
  font-size: 1rem; /* text-base */
  margin-left: 0.25rem; /* ml-1 */
}
.inputContainer {
  display: inline-flex;
  flex-direction: column;
  margin: 1.5rem;
 /* Фиксированная минимальная ширина */
max-width: 350px; 

  flex: 1; /* Равномерное распределение пространства */
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem; /* Используем gap вместо margin для равномерных отступов */
}

  

@media (min-width: 768px) {
  .form {
    flex-direction: row;
  }
}

.inputError.inputContainer {
  
  border: 1px solid red;
  border-radius: 0.375rem;
  padding: 0.25rem;
}

.button{
    width: 100px;
    height: 50px;
    margin-right: 40px;
    margin-top: 53px;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10;
}
.button:hover{
    color: rgb(44, 43, 43);
}