.main-container {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #3b82f6;
    border-radius: 0.5rem;
    width: 250px;
    height: 300px;
    padding: 0.5rem;


}

.couch-img {
    border-radius: 0.5rem;
    /* 8px */

}

.color-container {
    display: inline-flex;
}

.couch-button {
    color: white;
    background-color: #075985;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.125rem;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    position: relative;
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}


.small-container {
    position: relative;
    border: 2px solid #3b82f6;
    border-radius: 0.5rem;
    width: 250px;
    height: 300px;
    overflow: hidden;
}