/* .container {
    margin-top: 24px; 
} */
.passwordContainer{
    width: 100%;
    padding: 2rem;
    border-radius: 2;
    
}
.title {
    padding-left: 1rem;
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
}

.link {
    padding-left: 1rem;
    font-size: 1rem; /* text-base */
    cursor: pointer;
}

.link:hover {
    text-decoration: underline; /* hover:underline */
}

.separator {
    margin: 0 8px; /* Для отступов между ссылками */
}

.emailInput {
    display: inline-flex;
    flex-direction: column;
    margin-top: 24px; /* mt-6 */
}

.backButton {
    
    padding: 10px 20px; /* px-4 py-2 */
    border-radius: 8px; /* rounded-lg */
    margin-right: 12px; /* mr-3 */
    border: 2px solid #e5eaef
}
.backButton:hover{
    background-color: azure;
    color: black;
}

.submitButton {
    padding: 8px 16px; /* px-4 py-2 */
    border-radius: 8px; /* rounded-lg */
    margin: 12px; /* m-3 */
}
.submitButton:hover{
    color: black;
}