.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
   

}

.img-header {
    object-fit: contain;
}

.address {
    display: none;
}

@media(min-width:1024) {
    .address {
        display: block;

    }

}

.button-adress {
    color: #ef4444;
    text-decoration: underline;
    cursor: pointer;

}

.call-container {
    display: none;
}

@media (min-width:1024) {
    .call-container {
        display: flex;
        color: #ef4444;
    }
}

.svg {
    height: 1.25rem;
    /*20px*/
    width: 1.25rem;
}

.button-call {
    white-space: nowrap;
    border-color: #ef4444;
    border-width: 2px;
    border-style: solid;
    color: #ef4444;
    border-radius: 0.25rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    cursor: pointer;
    transition: background-color 0.2s;

}


.container-entryDialog {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.button-openEntryDialog {
    display: none;
}

.button-openEntryDialog.dark {
    background-color: #333;
    color: white;

}

.button-openEntryDialog.light {
    background-color: white;
    color: black;
}

@media (min-width:1024) {
    .button-openEntryDialog {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: #ffffff;

    }
}

.round-skeleton {
    margin-right: 0.5rem;
}

.underline-animation {
    position: relative;
    cursor: pointer;
    /* чтобы показать, что элемент интерактивный */
    display: inline-block;
    /* чтобы псевдоэлемент позиционировался относительно текста */
}

.underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    /* толщина линии */
    width: 0;
    background-color: currentColor;
    /* цвет линии совпадает с цветом текста */
    transition: width 0.3s ease;
}

.underline-animation:hover::after {
    width: 100%;
    /* при наведении линия расширяется на всю ширину текста */
}




.link-favoritePage {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 500;

}



.button-basket {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
    background-color: var(--button-bg-light);
    border: transparent;
}

.button-basket.dark {
    background-color: #333;
    color: white;
}

.button-basket.light {
    background-color: white;
    color: black;
}

.header-count {
    position: absolute;
    top: 0;
    right: 1.25rem;
    background-color: #ef4444;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerDark {
    background-color: #333;
    /* Пример темного фона */
    color: white;
    /* Пример текста для темного режима */
}

.headerLight {
    background-color: #fff;
    /* Пример светлого фона */
    color: black;
    /* Пример текста для светлого режима */
}