.main-container {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #3b82f6;
    border-radius: 0.5rem;
    width: 250px;
    height: 300px;
    padding: 0.5rem;


}
.catalogue-container {
  position: relative;
  border: 2px solid #3b82f6;
  border-radius: 8px;
  width: 250px;
  height: 320px;
  padding: 8px;
  box-sizing: border-box; /* Чтобы padding не увеличивал размер */
  overflow: hidden; 
  background-color:  inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.kitchen-img {
  border-radius: 0.5rem;
  display: block; 
  object-fit: cover; /* ✅ Сохраняет пропорции */
  object-position: center; /* ✅ Центрирует */
  background-color: #f3f4f6; /* ✅ Фон на случай отсутствия изображения */
}

.color-container {
    display: inline-flex;
}

.kitchen-button {
    color: white;
    background-color: #075985;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.125rem;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 1.5rem;
    position: relative;
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}


.small-container {
    position: relative;
    border: 2px solid #3b82f6;
    border-radius: 0.5rem;
    width: 250px;
    height: 300px;
    overflow: hidden;
}