/* input.module.css */

.inputContainer {
  position: relative;
  margin-bottom: 1rem; /* Отступ снизу для контейнера */
  min-height: 80px; /* Минимальная высота для сохранения места под ошибку */
}

.inputLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
 
}

.inputField {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: black;
  transition: border-color 0.2s;
  box-sizing: border-box; /* Важно для правильного расчета ширины */
}

.inputField:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.inputField.inputError {
  border-color: #ef4444;
   border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 0 1px rgba(239, 68, 68, 0.2);
}

.inputField.inputDisabled {
  background-color: #f3f4f6;
  cursor: not-allowed;
  opacity: 0.7;
}

.errorMessage {
  position: absolute;
  bottom: -20px; /* Позиционируем под инпутом */
  left: 0;
  color: #ef4444;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  white-space: nowrap; /* Предотвращаем перенос текста */
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляем многоточие если текст длинный */
  max-width: 100%; /* Ограничиваем ширину сообщения ошибки */
}
