.searchInput-container {
    position: relative;
}

@media (max-width:768px) {
    .searchInput-container {
        display: none;
    }

}

.searchInput {
    border-radius: 0.25rem;
    padding: 0.25rem;
    width: 100%;

}

/* Медиа-запрос для экрана lg (1024px и выше) */
@media (min-width: 1024px) {
    .searchInput {
        display: block;
        border: 1px solid #e5e7eb;

    }
}

.searchInput-ul {
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #D1D5DB;
    z-index: 10;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Позиционирование absolute только на экранах lg и выше */
@media (min-width: 1024px) {
    .searchInput-ul {
        position: absolute;
    }
}

.searchInput-result {
    padding: 0.5rem;
    cursor: pointer;

}

.searchInput-result:hover {
    background-color: #E5E7EB;

}

.searchInput-resultLink {
    display: block;
    width: 100%;
    height: 100%;
}

.searchInput-noresult {
    padding: 0.5rem;
    /* 8px */
}

.darkContainer {
    background-color: #333333;
    color: #ffffff;
}

.lightContainer {
    background-color: #ffffff;
    color: #000000;
}

.darkInput {
    background-color: #333333;
    color: #ffffff;
}

.lightInput {
    background-color: #ffffff;
    color: #000000;
}